#div-1 {
    width: 50%;
    margin: 15px auto;
    background-color: #FFD;
    border: 5px dashed #F4A460;
    padding: 1.5em;
}

#div-2 {
    width: 25em;
    border-top: 10px double darkslategray;
    border-bottom: 10px double darkslategray;
    background-color: #DFF;
    padding: 2em 20px;
    margin: 2px 2px 20px;
}

#div-3 {
    margin: 2em 150px 1em 500px;
    width: none;
    border: 1em ridge lightsalmon;
    padding: 30px;
    background-color: burlywood;
}